
html, body {
    margin: 0;
    padding: 0px;
    height: 100%;
    /*overflow: hidden;*/
}
.active-box{
  background-color: #0F828F !important;
}
.active-box .box-50 h5{
  color:white !important;
}
.box-50{
   width:80%;
   margin: 0 auto;
}
.box{
  background-color: white;
  width:100%;
  border:1px solid #D7D9D8;
}
.navshi{
    position: fixed !important;
    right: 0 !important;
    left: 0 !important;
    z-index:9999 !important;
    border-radius: 0 !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.container-modify{
  padding-top: 3.5em;
}
@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}
.box-center{
	width:60%;
	margin:0 auto;
}
.mt-5{
	margin-top: 5em;
}
.mt-4{
	margin-top: 4em;
}
.mt-3{
	margin-top: 3em;
}
.mt-2{
  margin-top: 2em;
}
.mt-1{
  margin-top: 1em;
}
.iconx{
	margin-right: 50px;
}


.user  {
	width:85% !important;
    background-color: #8E8C8C !important;
    background-image: url('../img/user.png') !important;
    background-size: 32px;
    background-position: 5px 5px !important;
    background-repeat: no-repeat !important;
    padding-left: 50px !important;
}
.pass  {
	width:85% !important;
    background-color: #8E8C8C !important;
    background-image: url('../img/pass.png') !important;
    background-size: 32px;
    background-position: 5px 5px !important;
    background-repeat: no-repeat !important;
    padding-left: 50px !important;
}
.txtbox-login input[type=text]:focus {
    border: 1px solid #8E8C8C !important;
    -webkit-box-shadow:  2px 2px 0 0 #ecf0f1 !important;
    box-shadow: 2px 2px 0 0 #ecf0f1 !important;
}
.loginHelpers{
	font-size: 1.2em;
	text-align: center;
	margin-left: .2em;
}
.btn-block{
	display: block;
	width: 100%;
}
.yellow{
	background-color: #E99F23 !important;
}
.red{
	background-color: #CC3727 !important;
}
.hamburger{
    font-size:6em;
}	
.brand-logo{
	font-size: 1.7em !important;
	margin-left: auto;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.side-nav li a{
  padding:0 .2em;
  font-size: 1.5em !important;
  font-weight: normal !important;
}

.nav-icons {
  float: left;
  line-height: 100px;
  width: 48px;
}